header {
  width: 100%;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {

  margin: 10px;
  
}


ul {
  list-style: none;
}

.snakeCard {
  border: 2px solid black;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  width: 80%;
  padding: 10px;
}

#formPage {
  display:flex;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}

button {
  width: 50px;
  align-self: center;
}